.container {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-color: #e5e5e5;
}

/* content css */

.content {
  width: 85vw;
  max-width: 1280px;
  height: 80vh;
}

/* content-inner css */
.content-inter {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0.5px solid #333;
  z-index: 1;
}

.content-inter:before,
.content-inter:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border: solid #000;
  border-width: 15px 0 0 15px;
  z-index: -1;
}

.content-inter:before {
  top: -15px;
  left: -15px;
}

.content-inter:after {
  border-width: 0 15px 15px 0;
  right: -15px;
  bottom: -15px;
}

/* logo css */
.top-left-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.top-left-logo img {
  width: 45px;
  height: 45px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.top-left-logo img:hover {
  transform: scale(1.2);
}

/* signature css */
.bottom-right-signature {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.bottom-right-signature span {
  font-size: 13px;
}

/* menu css */
.top-right-menu {
  position: absolute;
  top: 5px;
  right: 5px;
}

.top-right-menu img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.top-right-menu ul {
  list-style: none;
}

.top-right-menu ul li {
  text-align: end;
  width: 180px;
  height: 30px;
  font-size: 24px;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.top-right-menu ul li:hover {
  transform: translateX(-10px);
}

/* content section css */
.content-section {
  width: calc(100% - 200px);
  height: 80%;
  /* border: 1px solid #333; */
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.about,
.experience,
.blog,
.contact {
  animation-name: appear;
  animation-duration: 2s;
}

/* about css */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* .about h1 {
  font-size: 60px;
  font-weight: 600;
  overflow: hidden;
  border-right: 5px solid #333;
  white-space: nowrap;
  letter-spacing: 5px;
  animation: blink-caret 0.9s step-end infinite;
} */

.greeting {
  display: flex;
  color: #ee4747;
  font-size: 65px;
  font-weight: 600;
}

.greeting .dynamic-text {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.greeting span {
  position: relative;
}

.greeting span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  border-left: 5px solid #ee4747;
  left: 0;
  animation: typing 2s steps(12) infinite;
}

.about .personal-desc {
  padding: 20px 30px;
  border-left: 2px solid #333;
}

/* experience css */

.experience {
  display: flex;
  justify-content: space-between;
}

.experience-left {
  width: 40%;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.experience-left h3 {
  font-size: 40px;
  font-weight: 300;
}

.experience-left span {
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-left: 1px solid #333;
  font-size: 20px;
}

.experience-right {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  left: 0;
}

.experience-right .work {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.work .period {
  width: 35%;
  font-size: 14px;
}

.work .desc {
  width: 60%;
  border-left: 0.5px solid #333;
  padding: 10px 20px;
}

.work .desc h4 {
  font-size: 18px;
}

.work .desc span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  width: max-content;
}

a {
  color: #333;
}

.desc a {
  font-size: 24px;
  text-decoration: unset;
}

.desc a i {
  color: #333;
  margin-left: 8px;
  transition: transform 0.5s ease-in-out;
}

.desc a i:hover {
  transform: translateX(5px);
}

.desc ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.desc ul li {
  display: inline;
  background-color: #e08119;
  border-radius: 0.5rem;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 8px;
  color: #f1f1f1;
  font-size: 12px;
}

/* blog */
.blog h1 {
  font-size: 35px;
  font-weight: 500;
}

/* contact */

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80%;
}

.contact h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.contact ul {
  list-style: none;
  display: flex;
}

.contact ul li {
  margin: 5px 15px;
}

.contact svg,
.contact img {
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.contact svg:hover,
.contact img:hover {
  transform: scale(1.2);
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* keyframe */

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* appear animation */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* responsive design */

@media screen and (max-width: 420px) {
  .top-left-logo img {
    transition: none;
  }

  .top-left-logo img:hover {
    transform: none;
  }

  .contact svg,
  .contact img {
    transition: none;
  }

  .contact svg:hover,
  .contact img:hover {
    transform: none;
  }

  .desc a i {
    transition: none;
  }
  
  .desc a i:hover {
    transform: none;
  }

  .top-right-menu ul li {
    transition: none;
  }
  
  .top-right-menu ul li:hover {
    transform: none;
  }

  .top-left-logo img {
    transition: none;
  }
  
  .top-left-logo img:hover {
    transform: none;
  }


  .visible {
    visibility: hidden;
  }

  .invisible {
    visibility: visible;
  }

  .content {
    width: 90vw;
    height: 90vh;
  }

  .content-section {
    width: 95%;
    height: 90%;
    left: 10px;
  }

  .about h1 {
    font-size: 55px;
  }

  .about .personal-desc {
    padding: 21px;
    text-align: justify;
  }

  .top-right-menu {
    position: relative;
    top: unset;
    right: unset;
  }

  .top-right-menu ul {
    position: absolute;
    width: 97%;
    right: 5px;
    top: 45px;
    z-index: 2;
    background-color: #e5e5e5;
    animation-name: appear;
    animation-duration: 0.5s;
  }

  .top-right-menu ul li {
    width: unset;
  }

  .experience {
    flex-direction: column;
  }

  .experience-left,
  .experience-right {
    width: unset;
    height: unset;
    position: unset;
    margin-bottom: 20px;
  }

  .experience-left h3 {
    font-size: 35px;
  }

  .experience-left span {
    padding: 10px;
    font-size: 16px;
  }

  .work .period {
    width: 30%;
  }

  .work .desc {
    width: 65%;
    padding: 10px;
  }

  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-content {
    height: 60%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
  }

  .contact h3 {
    font-weight: 100;
  }
}

@media screen and (max-width: 900px) and (min-width: 421px) {

  .top-left-logo img {
    transition: none;
  }

  .top-left-logo img:hover {
    transform: none;
  }

  .contact svg,
  .contact img {
    transition: none;
  }

  .contact svg:hover,
  .contact img:hover {
    transform: none;
  }

  .desc a i {
    transition: none;
  }
  
  .desc a i:hover {
    transform: none;
  }

  .top-right-menu ul li {
    transition: none;
  }
  
  .top-right-menu ul li:hover {
    transform: none;
  }

  .top-left-logo img {
    transition: none;
  }
  
  .top-left-logo img:hover {
    transform: none;
  }

  .content {
    width: 90vw;
    height: 90vh;
  }

  .content-section {
    width: 90%;
    height: 80%;
    left: 20px;
    bottom: 20px;
  }

  .experience {
    flex-direction: column;
  }

  .experience-left,
  .experience-right {
    width: unset;
    right: unset;
    bottom: unset;
    height: unset;
    position: unset;
  }

  .experience-left {
    height: 25%;
  }

  .experience-right {
    height: 75%;
  }

  .contact-content {
    height: 60%;
  }
}
